<div class="meme row">
	<span class="bet_button"><%= link_to(image_tag("chandra.svg", {class: "chandra_xs", title: meme.description}), "#") %></span>
	<li>
		<!-- convert this into helpers! -->
		<strong class="bets"><%= pluralize(meme.bets.count, :bet) %> </strong> that <a href=<%= build_link(meme) %>><%= meme.title%></a> by <%= meme.maturation_date.to_formatted_s(:long) %>.
		<span class="row meme_subscript">
			first bet by <%= meme_author(meme) %>, <%= minutes_ago(meme) %> minutes ago. <%= meme.bets.sum(:initial_value) %> points on the line.
		</span>
	</li>
</div>