<div class="meme row">
	<span class="bet_button"><%= link_to(image_tag("chandra.svg", {class: "chandra_xs", title: meme.description}), "#") %></span>

		<!-- convert this into helpers! -->
		<strong class="bets"><%= pluralize(meme.bets.count, :bet) %> </strong> that <a href=<%= meme_path(meme.id) %>><%= meme.title%></a> by <%= meme.maturation_date.to_formatted_s(:long) %>.
		<span class="row meme_subscript">
			first bet by <%= User.find(meme.author_id).username %>, <%= ((Time.zone.now - meme.created_at)/60).round %> minutes ago. <%= meme.bets.sum(:initial_value) %> points on the line.
		</span>

</div>