<div class="meme row">
	<span class="bet_button"><%= link_to("BET ON THIS »", '#', id: bet_id_tag(meme)) %></span>
	<!-- Sorry future Peter! I'm too tired to figore this out now. Good Luck! -->
	<li>
		<strong class="bets"><%= pluralize(meme.bets.count, :bet) %> </strong> that <%= link_to(meme.title, meme_path(meme))%> by <%= meme.maturation_date.to_formatted_s(:long) %>.
		<span class="row meme_subscript">
			first bet by <%= meme_author(meme) %>, <%= minutes_ago(meme) %> minutes ago. <%= meme.bets.sum(:initial_value) %> points on the line.
		</span>
	</li>

</div>