<div class="meme row">
	<span class="bet_button"><%= link_to(image_tag("chandra.svg", {class: "chandra_xs", title: meme.description}), "#") %></span>
	<li>
		<strong class="bets"><%= meme.initial_bet %> </strong> bets say that <a href=<%= meme.url %>><%= meme.title%></a> in <%= ((Time.zone.now - meme.created_at)/60).round %> minutes.
		<span class="row meme_subscript">
			Bet made by <%= meme.author_id %>, <%= ((Time.zone.now - meme.created_at)/60).round %> minutes ago
		</span>
	</li>
</div>