
	<h1 style="display:none;">MEMEBET</h1>

	<% unless user_signed_in? %>
		<p class="nav_links"><%= link_to("SIGNUP", new_user_registration_path) %> </p>
		<p class="nav_links"> <%= link_to("LOGIN", new_user_session_path) %></p>
	<% else %>
	<!-- LOGOOUT is NOT WORKING CURRENTLY -->
		<%= link_to("LOGOUT", destroy_user_session_url,{ method: :delete, class: "nav_links"})%>
	<% end %>
	<header>
		<%= link_to(memes_path) do %>
			<%= image_tag "memebet.svg",
									 {"data-svg-fallback" => "#{image_path('memebet.png')}",
									 alt: "memebet",
									 class: "top_logo"} %>
    <% end %>
	</header>